/* ContactForm.css */
.contact-page-container {
    background-color: #ffffff; /* Set the background color for the contact page container */
    padding: 1rem;
    width: 100%; /* Ensure it takes full width */
    height: 71.8vh; /* Optional: make sure it covers the full height of the viewport */
  }
  

.contact-page {
    padding: 1rem;
    max-width: 100rem; /* Decrease max-width for a narrower column */
    margin-left: auto; /* Center the column horizontally */
    margin-right: auto; /* Center the column horizontally */
    width: 100%;
    padding-bottom: 5rem; /* Add extra padding to the bottom */
    /* background-color: #ffeeee; */
  }
  
  .contact-page h1 {
    text-align: center;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.1rem;
    margin-top: 2rem;
    margin-bottom: 1rem; /* Increase bottom margin for spacing under the heading */
    color: #000000;
  }
  
  .contact-form {
    max-width: 700px; /* Increased max-width to allow more space for inputs */
    margin: 50px auto;
    padding: 20px;
    background: transparent;
    border-radius: 8px;
}

/* Styles for the input elements inside input-group */
.contact-form .input-group input {
    flex: 1; /* Allow inputs to grow and fill the available space equally, you can adjust the flex grow values if different sizes are required */
}
  
/* Updated styles for the input and textarea elements */
.contact-form input[type="email"],
.contact-form input[type="text"],
.contact-form textarea {
    width: 100%;
    height: 87px; /* Adjust height as necessary */
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #000000; /* Keep the border color white or adjust as needed */
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 21px;
    font-family: "Soehne", system-ui, -apple-system, Helvetica Neue, Arial, sans-serif;
    background-color: transparent; /* Keep input and textarea backgrounds transparent */
    color: #000000; /* Set text color to white so it shows against the black background */
    outline: none; /* Add this line to remove the browser's default focus outline */

}


.contact-form input[type="email"]:focus,
.contact-form input[type="text"]:focus,
.contact-form textarea:focus {
    border-color: #555555; /* Change border color to #35364A when the input fields are focused */
    outline: none; /* Ensure that the browser's default focus outline is removed */
    color: black; /* Text color on hover */
    background-color: transparent; /* Background color on hover */

}
  
  .contact-form textarea {
      height: 150px;
      resize: vertical;
  }
  
  /* New styles for the input group */
.contact-form .input-group {
    display: flex; /* Apply Flexbox */
    gap: 1.3rem; /* Add space between the inputs */
  }
  
  /* Styles for the input elements inside input-group */
  .contact-form .input-group input {
    flex: 1; /* Allow inputs to grow and fill the available space equally */
  }
  
  .contact-form button {
    padding: 1rem; /* Increased padding for a larger button */
    border: 1px solid #000000; /* Example border color, adjust as needed */
    border-radius: 0.2em;
    background-color: transparent; /* Makes the inside color transparent */
    color: #000000; /* Adjust text color as needed for visibility against the transparent background */
    cursor: pointer;
    transition: background-color 0s ease;
    font-size: 1.25rem; /* Larger font size for the text */
    width: 20%; /* Example width, can be adjusted */
    display: block; /* Makes the button a block element */
    margin: 0 auto; /* Centers the button in the form */
    /* Font family for both input fields and the submit button */
    font-family: "Soehne", system-ui, -apple-system, Helvetica Neue, Arial, sans-serif;
    font-weight: 500;
  }
  
  .contact-form button:hover {
    background-color: #000000; /* Background color on hover */
    color: white; /* Text color on hover */
  }

  .contact-page-subheading {
    text-align: center; /* Center the paragraph text */
    color: #000000; /* Set the text color to white */
    font-size: 1.125rem; /* Choose an appropriate size that doesn't overpower the main heading */
    /* margin-top: 0.5rem; Adjust this value to create suitable spacing above the paragraph */
    /* margin-bottom: 2rem; Increase margin below to space it away from the form elements */
    font-family: 'Montserrat', sans-serif; /* Maintain consistent font family */
    line-height: 1;

}

/* Media query for screens up to 768px wide */
@media (max-width: 768px) {

  .contact-page-container {
      /* Adjust padding for smaller screens to provide more space */
      padding: 0.5rem;
  }

  .contact-page {
      /* Reduce side padding to give more room for content on small screens */
      padding: 1rem;
  }

  .contact-page h1 {
      /* Reduce the font size for the header on smaller screens */
      font-size: 1.8rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
      padding-top: 4rem;
  }

  .contact-form {
      /* Reduce padding in the form to keep it from stretching too wide */
      padding: 10px;
  }

  .contact-form input[type="text"],
  .contact-form input[type="email"]:focus,
  .contact-form textarea {
      /* Reduce the height of input and textarea fields on smaller screens */
      height: auto;
      padding: 10px;
      font-size: 1rem;
      line-height: 1.5rem;
  }

  .contact-form .input-group {
      /* Stack inputs vertically instead of horizontally on small screens */
      flex-direction: column;
  }

  .contact-form button {
      /* Adjust button size and font-size for smaller screens */
      padding: 0.8rem;
      font-size: 1rem;
      width: auto; /* Allow the button to adjust its width as needed */
  }

  .contact-page-subheading {
      /* Adjust the font size and margin of the subheading for smaller screens */
      font-size: 1.125rem;
      margin-top: 0.5rem;
      margin-bottom: 1.5rem;
  }

  .contact-form .input-group {
    flex-direction: column;
    gap: 1rem; /* Standardize the space between stacked elements */
}

  .contact-form .input-group *:first-child {
      margin-bottom: 0;
  }


}