
  
  /* Style for the main about wrapper */
  .productPage-main {
    margin: 0;
    padding: 0; /* No padding to ensure section stretches the full width */
    width: 100vw; /* Full viewport width */
    min-height: 100vh; /* Full viewport height */
    display: flex; /* Apply flex container to the main */
    flex-direction: column; /* Align children in a column for vertical stacking */
    align-items: flex-start; /* Align content to the left instead of centering horizontally */
  }
  
  
  /* Style for the introductory section of the About page */
  .productPage-intro {
    background-color: #badedd;
    width: 100vw; /* Full viewport width */
    display: flex; /* Use flexbox for horizontal alignment */
    flex-direction: row; /* Align children in a row */
    align-items: flex-start; /* Align content to the top */
    justify-content: flex-start; /* Align content to the left */
    padding: 12rem 8.5rem 0; /* Increase top padding to move content down */
    border-radius: 1; /* Full bleed to the edges */
    margin-right: 0rem;
    padding-right: 4rem;
  }
  
  
  /* Styles for the heading within the .about-intro */
  .productPage-intro h1 {
    font-size: 4.5em;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #1f2937;
    flex: 1; /* Flex property to control width */
    margin: 0;
    padding-right: 1rem; /* Add some spacing between the heading and the paragraph */
    line-height: 105%;
    letter-spacing: -.02em;
    margin-top: 0.5rem;
    padding-bottom: 2rem;

  }
  
  /* Styles for the multiline paragraph within the .about-intro */
  .productPage-intro p {
    color: #1f2937;
    font-size: 1.7rem;
    line-height: 150%;
    letter-spacing: .01em;
    font-family: "FK Grotesk Light", sans-serif;
    flex: 1; /* Flex property to control width */
    margin: 0;
    text-align: left; /* Align text to the left side */
    margin-top: 1rem; /* Add this line to set the top margin to 0 */
    margin-right: 5rem;
    -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      word-break: break-word;
      word-wrap: break-word;
  }

  

  /* Media query for screens with max-width of 768px */
@media (max-width: 768px) {

  .productPage-main {
    /* Adjust the main's style as needed for smaller screens */
    /* Example: Align items to the center for better mobile view */
    align-items: left;
  }

  

  .productPage-intro {
    flex-direction: column; /* Stack elements vertically on smaller screens */
    align-items: left; /* Center align the items for a better mobile layout */
    justify-content: left; /* Center the content vertically as well */
    padding: 6rem 4rem; /* Reduce the padding for smaller screens */
    padding-left: 1rem;
    padding-right: 0rem;
    /* padding-bottom: 4rem; */
  }
  
  .productPage-intro h1 {
    font-size: 2.625rem;
    line-height: 110%;
    letter-spacing: -.01em;
    text-align: left;
    margin-left: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
  }

  .productPage-intro p {
    font-size: 1.3125rem;
    line-height: 130%;
    letter-spacing: -.01em;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-align: left;
    margin-left: 0rem;
    padding-right: 0rem;
    padding-left: 0rem;
    margin-right: 1rem;
  }

  /* Additional styles for other elements in the productPage can go here if needed */
}